<div class="container__col--single">
    <div class="h3"><%= @user.team_name %></div>
    <div class="body body--italic"><%= @user.name %></div>
    <table class="table">
        <tr class="table__row--title">
            <td class="table__title">Round</td>
            <td class="table__title">Team</td>
            <td class="table__title table__title--right">Points</td>
        </tr>
        <% @picks.sort_by(&:round).each do |pick| %> 
        <tr class="table__row">
            <td class="table__item">
                <%= pick.round.name %> 
            </td>
            <td class="table__item">
                (<%= pick.team.seed %>) 
                <%= pick.team.name %> 
            </td>
            <td class="table__item table__item--right">
                <%= pick.points %> 
                <% if pick.multiplier == 2 %>
                    <span class="body body--bold"> x2</span>
                <% end %>  
            </td>
        </tr>
        <% end %>
    </table>
</div>