<h2 class="h3 h3--uppercase">
    <%= @tournament.name %>
</h2>

<% if !@current_user_has_entered %>
<div class="alert alert--danger">
    <span class="body body--bold">Entries are closed.</span> But there's always next year.
</div>
<% end %>

<% if @current_user_has_entered %>
    <% if @tournament.picks_open? %>
    <div class="alert alert--success">
        <span class="body body--bold">Picks are open!</span> <%= link_to "Make (or edit) your picks here", tournament_picks_url(@tournament), class: "link link--white" %>.
    </div>
    <% else %>
    <div class="alert alert--danger">
        <span class="body body--bold">Hold up.</span> Picks for this tournaments aren't open now. Come back Monday!
    </div>
    <% end %>
<% end %>

<table class="table">
    <tr class="table__row--title">
        <td class="table__title">Teams <span class="body body--italic">(<%= @entries.count %> entered)</span></td>
        <td class="table__item table__item--right table__title">Score</td>
    </tr>
    <% @tournament_scores_hash.each_with_index do |(user, score), idx| %> 
    <tr class="table__row">
        <td class="table__item">
            <% entry = @entries.find { |entry| entry.user_id == user.id } %>
            <span><%= idx + 1 %>. </span>
            <span class="table__team-name">
                <%= link_to user.team_name, entry_url(entry), class: "link" %>
            </span>
            <span class="table__user-name">
                <%= user.name %> 
            </span>
            <span class="table__city">
                <%= user.city %>  
            </span>
        </td>
        <td class="table__item table__item--right">
            <%= score %>
        </td>
    </tr>
    <% end %>
</table>
