<h2 class="h3 h3--uppercase">
    <%= @tournament.name %>
</h2>

<% if !@current_user_has_entered %>
<div class="form form--registration">
    <p class="body body--margin-0">
        <span class="body body--bold">
            ANTE UP.
        </span>
        <br />
            <span>You aren't in this pool yet.</span>
    </p>
    <%= form_tag entries_path do %>
        <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
            <% end %>
            <label class="amount">
            <span class="form__label">Entry: $10</span>
            </label>
            <input type="hidden" name="entry[tournament_id]" value="<%= @tournament.id %>" id="tournament_id">
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Enter <%= @tournament.name %>"
                data-amount="1000"
                data-locale="auto">
        </script>
    <% end %>
</div>
<% end %>

<% if @current_user_has_entered %>
    <% if @tournament.picks_open? %>
    <div class="alert alert--info">
        <span class="body body--bold">Picks are open!</span> <%= link_to "Click here", tournament_picks_url(@tournament), class: "link" %> to pick now.
    </div>
    <% else %>
    <div class="alert alert--danger">
        <span class="body body--bold">Hold up.</span> Picks for this tournaments aren't open now. Come back Monday!
    </div>
    <% end %>
<% end %>

<table class="table">
    <tr class="table__row--title">
        <td class="table__title">Teams <span class="body body--italic">(<%= @entries.count %> entered)</span></td>
        <td class="table__item table__item--right table__title">Score</td>
    </tr>
    <% @entries.each_with_index do |entry, idx| %> 
    <tr class="table__row">
        <td class="table__item">
            <span><%= idx + 1 %>. </span>
            <span class="table__team-name">
                <%= entry.user.team_name %> 
            </span>
            <span class="table__user-name">
                <%= entry.user.name %> 
            </span>
            <span class="table__city">
                <%= entry.user.city%>  
            </span>
        </td>
        <td class="table__item table__item--right">
            <%= entry.points %>
        </td>
    </tr>
    <% end %>
</table>
