<div class="nav nav--title">
  <%= link_to ENV["app_name"], root_url, class: "nav__link nav__link--title" %>
</div>
<div class="nav">
    <%= link_to "Rules", rules_url, class: "nav__link" %>
  <% if logged_in? %>
    <%= link_to "Tournaments", tournaments_url, class: "nav__link" %>
    <%= link_to "Commish's Corner", updates_url, class: "nav__link" %>
    <%= link_to "Log Out", session_url, method: :delete, class: "nav__link" %>
  <% else %>
    <%= link_to "Log In", new_session_url, class: "nav__link" %>
    <%= link_to "Sign Up", new_user_url, class: "nav__link" %>
  <% end %>
</div>