<div class="container__col--single">
    <span class="h3">Your Picks for <%= @tournament.name %></span>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
            <div class="alert alert--danger">
                <%= error %>
            </div>
        <% end %>
    <% end %>
    <ul>
        <% @rounds.each do |round| %>
            <li><%= round.name %>: <%= @entry.round_budget_remaining(round) %> pts available</li>
        <% end %>
    </ul>
    <form action="<%= tournament_picks_url %>" method="POST" class="form">
        <%= auth_token %>
        <span class="body body--bold">
            New Pick
        </span>
        <div class="form__row">
            <label for="round" class="input__label">Round</label>
            <select name="pick[round_id]" value="<%= @pick.round_id %>" id="round_id" placeholder="Round" required>
                <% @rounds.each do |round, idx| %>
                    <option 
                        value="<%= round.id %>" 
                        <% if idx == 0 %>selected<% end %>><%= round.name %></option>
                <% end %>
            </select>
        </div>
        <div class="form__row">
            <label for="round" class="input__label">Team</label>
            <select name="pick[team_id]" value="<%= @pick.team_id %>" id="round_id" placeholder="Team" required>
                <% @teams.each do |team, idx| %>
                    <option 
                        <% if idx == 0 %>selected<% end %>
                        value="<%= team.id %>">
                        (<%= team.seed %>) <%= team.name %>
                    </option>
                <% end %>
            </select>  
        </div>
        <div class="form__row">
            <label for="round" class="input__label">Team</label>
            <input 
                type="number" 
                name="pick[points]" 
                value="<%= @pick.points %>" 
                id="round_id" 
                placeholder="Points" 
                min="0"
                required>
        </div>
        <div class="form__row">
            <input 
                type="checkbox" 
                name="pick[multiplier]" 
                value="2" 
                id="round_id">
            <label for="round" class="body body--bold">Daily Double</label>
        </div>
        <div class="form__row">
            <input type="submit" value="Submit" id="create" class="button">
        </div>
    </p>
    </form>
</div>
<table class="table">
    <tr class="table__row--title">
        <td class="table__title">Round</td>
        <td class="table__title">Team</td>
        <td class="table__title table__title--right">Points</td>
        <td class="table__title table__title--right">Delete?</td>
    </tr>
    <% @current_picks.sort_by(&:round).each do |pick| %> 
    <tr class="table__row">
        <td class="table__item">
            <%= pick.round.name %> 
        </td>
        <td class="table__item">
            (<%= pick.team.seed %>) 
            <%= pick.team.name %> 
        </td>
        <td class="table__item table__item--right">
            <%= pick.points %> 
            <% if pick.multiplier == 2 %>
                <span class="body body--bold"> x2</span>
            <% end %>  
        </td>
        <td class="table__item table__item--right">
            <%= link_to "Delete", pick_url(pick), method: :delete, class: "link" %>
        </td>
    </tr>
    <% end %>
</table>