<!DOCTYPE html>
<html>
  <head>
    <title>Points</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <div class="container<% if external_page? %> container--homepage<% end %>">
    <% if params[:controller] != 'statics' %>
      <p><%= render 'shared/nav' %></p>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
