<!DOCTYPE html>
<html>
  <head>
    <title>FLAGRANT 2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body<% if external_page? %> body--bg-image<% end %>">
    
  <div class="container<% if external_page? %> container--homepage<% end %>">
    <% if params[:controller] != 'statics' %>
      <%= render 'shared/nav' %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
